body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets//fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets//fonts/Montserrat-Medium.ttf) format("truetype");

  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets//fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat") url(./assets//fonts/Montserrat-Bold.ttf)
    format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url(./assets//fonts//Manrope-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url(./assets//fonts/Manrope-Medium.ttf) format("truetype");

  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url(./assets//fonts/Manrope-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope") url(./assets//fonts/Manrope-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.background-visible {
  background-image: url("./assets/images/back3ground.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
